### OSX Vendor Configs ###
.DS_Store
*._DS_Store
._.DS_Store
*._
._*
._.*
storage/framework/views/
storage/debugbar/
adm.php
public/css/ampleread.css_lcl
public/dist/ng-file-upload-shim.js111
public/dist/ng-file-upload.js11
resources/views/usersmanagement/edit-user.blade_bkp.php
resources/views/usersmanagement/show-users.blade_bkp.php
unwanted_file.txt

public/uploads/
reads.zip
reads/
error_log
public/adm.php
public/images/
### Windows Vendor Configs ###
Thumbs.db

resources/assets/css/
resources/assets/js/bootstrap.min.js
resources/assets/js/jquery.min.js
resources/assets/js/main.js
resources/assets/js/owl.carousel.js
resources/views/layouts/app.blade.php.bkp
resources/views/partials/nav.blade.php.bkp

### Sass ###
#bower_components/*
/.sass-cache/*
.sass-cache

### Sublimt Text Vendor Configs ###
*.sublime-workspace

### PHP Storm Vendor Configs ###
.idea/*
/.idea/*
.phpintel/*
/.phpintel/*

### VS Code Vendor Configs ###
/.vscode

### Vagrant/Homestead Vendor Configs ###
/.vagrant
Homestead.yaml
Homestead.json

### Master Configs ###
.env
composer.lock

### Assets ###
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/
/storage/debugbar
/storage/framework
/storage/logs
/storage/users
packages/

# Debug Files
npm-debug.log
yarn-error.log

