.admin-home .heading{
    font-size:24px;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:left;
    color:#000000;
    font-weight:600;
    margin:20px 0px
}
.admin-home .row-one{
    width:100%;
    float:left;
    margin-bottom:40px
}
.admin-home .row-one .row{
    width:calc(33.33% - 30px);
    height:200px;
    float:left;
    margin-right:30px;
    margin-left:0
}
.admin-home .row-one .row img{
    width:100%;
    height:100%;
    position:relative;
    top:-40px
}
.admin-home .row-one .row .layer{
    width:100%;
    height:200px;
    opacity:0.2;
    background-color:#000;
    position:relative;
    top:-200px
}
.admin-home .row-one .row .edit-delete{
    width:80px;
    position:relative;
    top:-40px;
    right:10px;
    height:40px;
    float:right
}
.admin-home .row-one .row .edit-delete .edit{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#ffffff;
    float:left
}
.admin-home .row-one .row .edit-delete .edit i{
    color:#8ea1b2;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .row-one .row .edit-delete .delete{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#f55858;
    float:left
}
.admin-home .row-one .row .edit-delete .delete i{
    color:#ffffff;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .row-one .row .image{
    z-index:1;
    top:10px
}
.admin-home .row-one .add-banner{
    background-color:#f6f6f6;
    position: relative;
    text-align: center;

}
.admin-home .row-one .add-banner .plus-banner{
    /*position:relative;*/
   /* top:80px;*/
    border:2px solid #8ea1b2;
    border-radius:30px;
    width:30px;
    /*left:50%;*/
    cursor:pointer;
   margin: auto;
}
.admin-home .row-one .add-banner .plus-banner i{
    padding:7px;
    color:#8ea1b2
}
.admin-home .row-one .add-banner .text{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:center;
    color:#8ea1b2;
    /*position:relative;*/
    /*top:95px;
    left:44%*/
    margin: 7px 0 0 0;
}
.admin-home .row-one .last{
    margin-right:0px
}
.admin-home .row-two{
    margin-bottom:20px;
    width:100%;
    float:left
}
.admin-home .row-two .slot-1{
    width:calc(33.3% - 30px);
    height:305px;
    background-color:#f6f6f6;
    float:left;
    margin-right:30px;
    position:relative
}
.admin-home .row-two .slot-1 .e-book1{
    width:197px;
    height:146px;
    margin:34px 0% 20px 40%
}
.admin-home .row-two .slot-1 .e-book1 img:nth-child(1){
    width:96px;
    height:146px;
    -ms-transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
    transform:rotate(-29deg);
    position:relative;
    top:-3px;
    right:20px
}
.admin-home .row-two .slot-1 .e-book1 img:nth-child(2){
    width:96px;
    height:146px;
    position:relative;
    top:-1px;
    right:115px;
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    transform:rotate(-10deg)
}
.admin-home .row-two .slot-1 .e-book1 img:nth-child(3){
    width:96px;
    height:147px;
    position:relative;
    top:-146px;
    left:0px
}
.admin-home .row-two .slot-1 .e-book1 img{
    box-shadow:4px 10px 20px 0 rgba(0,0,0,0.15)
}
.admin-home .row-two .slot-1 .heading{
    font-size:24px;
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
    line-height:1.33;
    letter-spacing:normal;
    text-align:center;
    color:#000000;
    margin:0px 20px
}
.admin-home .row-two .slot-1 .sub-text{
    height:24px;
    font-size:16px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:1.5;
    letter-spacing:normal;
    text-align:center;
    color:#000000
}
.admin-home .row-two .slot-1 .edit-delete{
    width:80px;
    position:absolute;
    top:10px;
    height:40px;
    right:10px;
    margin:0px
}
.admin-home .row-two .slot-2{
    width:calc(33.3% - 30px);
    height:305px;
    background-color:#f6f6f6;
    float:left;
    margin-right:30px;
    position:relative
}
.admin-home .row-two .slot-2 .e-book1{
    margin:15px auto;
    width:232px
}
.admin-home .row-two .slot-2 .e-book1 img{
    width:116px;
    height:172px;
    margin:0px -2px 0px -2px;
    box-shadow:4px 10px 20px 0 rgba(0,0,0,0.1)
}
.admin-home .row-two .slot-2 .heading{
    margin:0px 20px;
    font-size:24px;
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
    line-height:1.33;
    letter-spacing:normal;
    text-align:center;
    color:#000000
}
.admin-home .row-two .slot-2 .sub-text{
    height:24px;
    font-size:16px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:1.5;
    letter-spacing:normal;
    text-align:center;
    color:#000000
}
.admin-home .row-two .slot-2 .edit-delete{
    width:80px;
    position:absolute;
    top:10px;
    right:10px;
    height:40px;
    float:right
}
.admin-home .row-two .slot-3{
    width:calc(33.33% - 30px);
    float:left;
    height:305px;
    background-color:#f6f6f6;
    margin-right:30px;
    margin-bottom: 30px;
}
.admin-home .row-two .slot-3 .heading{
    margin-top:20px;
    font-family:GothamPro;
    font-size:24px;
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
    line-height:1.33;
    letter-spacing:normal;
    text-align:center;
    color:#000000;
    margin-bottom:0px
}
.admin-home .row-two .slot-3 .sub-text{
    margin:10px 0px;
    font-family:GothamPro;
    font-size:16px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:1.5;
    letter-spacing:normal;
    text-align:center;
    color:#000000
}
.admin-home .row-two .slot-3 .ebook{
    height:196px;
    margin:0px auto;
    width:265px
}
.admin-home .row-two .slot-3 .ebook img{
    width:130px;
    height:196px;
    box-shadow:4px 10px 20px 0 rgba(0,0,0,0.1)
}
.admin-home .row-two .row{
    width:calc(33.33% - 30px);
    height:305px;
    float:left;
    margin-right:30px;
    margin-left:0
}
.admin-home .row-two .add-banner{
    background-color:#f6f6f6;
    position: relative;
    text-align: center;
}
.admin-home .row-two .add-banner .plus-banner{
    /*position:relative;*/
    /* top:80px;*/
    border:2px solid #8ea1b2;
    border-radius:30px;
    width:30px;
    /*left:50%;*/
    cursor:pointer;
    margin: auto;
}
.admin-home .row-two .add-banner .plus-banner i{
    padding:7px;
    color:#8ea1b2
}
.admin-home .row-two .add-banner .text{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:center;
    color:#8ea1b2;
    /*position:relative;
    top:138px;
    left:44%*/
    margin: 7px 0 0 0;
}
.admin-home .row-two .edit-delete{
    width:80px;
    position:relative;
    top:-240px;
    right:10px;
    height:40px;
    float:right
}
.admin-home .row-two .edit-delete .edit{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#ffffff;
    float:left
}
.admin-home .row-two .edit-delete .edit i{
    color:#8ea1b2;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .row-two .edit-delete .delete{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#f55858;
    float:left
}
.admin-home .row-two .edit-delete .delete i{
    color:#ffffff;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .section-three .left{
    width:20%;
    float:left
}
.admin-home .section-three .left .circle{
    width:16px;
    height:16px;
    float:left;
    background-color:#fff;
    border:2px solid #8ea1b2;
    border-radius:8px;
    cursor:pointer;
    margin-right:10px;
    cursor:pointer;
    line-height: 6px;
    text-align: center;
}
.admin-home .section-three .left .circle i{
    color: #8ea1b2;
    font-size: 6px;
    text-align: center;
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    line-height: 12px;
}
.admin-home .section-three .left .text{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:left;
    color:#8ea1b2;
    float:left
}
.admin-home .section-three .left .listing-category{
    width:100%;
    float:left;
    margin:20px 0px
}
.admin-home .section-three .left .listing-category ul{
    list-style-type:none;
    margin-left:-40px
}
.admin-home .section-three .left .listing-category ul li{
    font-size:16px;
    text-align:left;
    color:#000000;
    cursor:pointer;
    margin-bottom:10px
}
.admin-home .section-three .left .listing-category ul li.active{
    font-weight:600
}
.admin-home .section-three .left .listing-category ul.sub-listing{
    float:left;
    margin-left:-10px;
    margin-top:10px
}
.admin-home .section-three .left .listing-category ul.sub-listing .circle{
    margin-bottom:10px
}
.admin-home .section-three .left .listing-category ul.sub-listing .circle i{
    top:-8.3px
}
.admin-home .section-three .left .listing-category ul.sub-listing .text{
    margin-bottom:10px
}
.admin-home .section-three .left .listing-category ul.sub-listing li{
    float:left;
    width:100%
}
.admin-home .section-three .right{
    width:80%;
    float:left
}
.admin-home .section-three .right .category-discription{
    width:100%;
    float:left
}
.admin-home .section-three .right .category-discription .category-name{
    width:50%;
    float:left
}
.admin-home .section-three .right .category-discription .category-name .name{
    font-family:GothamPro;
    font-size:24px;
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:left;
    color:#000000
}
.admin-home .section-three .right .category-discription .category-name .name i{
    color:#8ea1b2;
    margin-left:10px;
    font-size:14px;
    cursor:pointer
}
.admin-home .section-three .right .category-discription .category-name .number{
    opacity:0.4;
    font-family:GothamPro;
    font-size:14px;
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:left;
    color:#000000;
    padding-top:5px
}
.admin-home .section-three .right .category-discription .category-action{
    width:47%;
    float:left;
    text-align:right
}
.admin-home .section-three .right .category-discription .category-action i{
    color:#f55858;
    cursor:pointer
}
.admin-home .section-three .right .category-discription .category-action span{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:left;
    color:#f55858
}
.admin-home .section-three .right .right-row-one{
    width:100%;
    float:left;
    margin-top:20px
}
.admin-home .section-three .right .right-row-one .row{
    display:inline-block;
    position:relative;
    width:calc(33.33% - 30px);
    height:398px;
    float:left;
    margin-right:30px;
    margin-left:0
}
.admin-home .section-three .right .right-row-one .row .edit-delete{
    width:80px;
    position:absolute;
    top:9px;
    height:40px;
    float:right;
    left:116px
}
.admin-home .section-three .right .right-row-one .row .edit-delete .edit{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#ffffff;
    float:left
}
.admin-home .section-three .right .right-row-one .row .edit-delete .edit i{
    color:#8ea1b2;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .section-three .right .right-row-one .row .edit-delete .delete{
    width:40px;
    height:40px;
    border-radius:2px;
    background-color:#f55858;
    float:left
}
.admin-home .section-three .right .right-row-one .row .edit-delete .delete i{
    color:#ffffff;
    font-size:14px;
    padding:14px;
    cursor:pointer
}
.admin-home .section-three .right .right-row-one .row .image img{
    width:205px;
    height:307.5px
}
.admin-home .section-three .right .right-row-one .add-banner{
    background-color:#f6f6f6;
    width:calc(33.33% - 30px);
    height:398px;
    position: relative;
    text-align: center;
}
.admin-home .section-three .right .right-row-one .add-banner .plus-banner{
    /* position: relative; */
    /* top: 80px; */
    border: 2px solid #8ea1b2;
    border-radius: 30px;
    width: 30px;
    /* left: 50%; */
    cursor: pointer;
    margin: auto;
}
.admin-home .section-three .right .right-row-one .add-banner .plus-banner i{
    padding:7px;
    color:#8ea1b2
}
.admin-home .section-three .right .right-row-one .add-banner .text{
    font-size:14px;
    font-weight:500;
    font-style:normal;
    font-stretch:normal;
    line-height:normal;
    letter-spacing:normal;
    text-align:center;
    color:#8ea1b2;
    /*position:relative;
    top:50%;
    left:39%*/
    margin: 7px 0 0 0;
}
.admin-home .section-three .right .right-row-one .item{
    height:auto
}
.admin-home .section-three .right .right-row-one .item .title{
    width:205px;
    height:44px;
    font-size:16px;
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
    line-height:1.38;
    letter-spacing:normal;
    text-align:left;
    color:#000000;
    float:left;
    margin:20px 0px 5px 0px
}
.admin-home .section-three .right .right-row-one .item .writer{
    position:absolute;
    width:205px;
    float:left;
    opacity:0.6;
    font-family:GothamPro;
    font-size:16px;
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
    line-height:1.38;
    letter-spacing:normal;
    text-align:left;
    color:#000000
}
.admin-home .section-three .right .right-row-two{
    width:100%;
    float:left
}
.admin-home .section-three .right select{
    width:200px;
    margin:20px 0px
}
.admin-home .section-three .right .category-search{
    margin-bottom:20px
}
.admin-home .book-search{
    margin:0px 0px 20px 0px
}


/* -------------- me changes file -------------------*/

.admin-home .row-one .add-banner .add_banner_wrapper{

    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 56px;

}

.admin-home .row-two .add-banner .add_banner_wrapper{
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 56px;

}
.admin-home .section-three .right .right-row-one .add-banner .plus-banner  .add_banner_wrapper{
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 56px;

}

.admin-home .section-three .right .right-row-one .add-banner  .add_banner_wrapper{
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 56px;
}


.clear{ clear: both;}

/* -------------- me changes file -------------------*/


 