.ample-login-signup .ample-signup-login-text .ample-login-active {
	width: 100px
}

.select2-container {
	margin-left: -14px
}

img.user-avatar-nav {
	width: auto;
	height: 40px;
	border-radius: 60px
}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0
}

.admin-container .admin-right .save-cancel-btn {
	/*margin-top: 330px !important*/
}

.save input {
	width: 80px;
	height: 40px;
	border-radius: 4px;
	background-image: linear-gradient(117deg, #f95d49, #ff7335) !important;
	box-shadow: 5px 10px 40px 0 rgba(249, 93, 73, .2);
	color: #fff;
	border: 1px solid #ff7335
}

.admin-container .admin-left .logout {
	margin-top: 0 !important
}

.ample-slider .carousel .carousel-inner .item .ample-signin-banner .ample-banner-right .ample-banner-button .add-library {
	width: 242px;
	float: left;
	margin-left: 190px !important;
	padding: 0 !important;
	margin-top: -40px !important
}

.ample-book-slot-slider .owl-carousel .item .ample-button a {
	width: 60px;
	height: 34px;
	border-radius: 2px;
	background-color: #54c484;
	border: 1px solid #54c484;
	color: #fff
}

.admin-home .row-two .slot-1 {
	margin-bottom: 40px !important
}

.admin-home .row-two .edit-delete {
	margin: 32px 0
}

.user-bookcreateinfo .info-left .row-six textarea {
	overflow: hidden;
	resize: none;
	height: 137px;
	background-color: #35394b;
	border: 1px solid #35394b;
	width: 100%;
	color: #ffffff;
	opacity: 0.4;
	padding: 10px
}

.user-bookcreateinfo .info-left .row-six .date {
	padding: 10px
}


.admin-container .admin-right .admin-edit .edit-two .form-unit .content textarea {
	overflow: hidden;
	resize: none;
	height: 270px
}