.ample-login-signup .ample-signup-login-text .ample-login-active {
	width: 100px
}

.ample-signin-manage .sign-in-manage-left{
	width: auto !important;
}

.ample-signin-manage .sign-in-manage-left .unit{
	width: auto !important;
	padding: 10px 25px 10px 25px !important;
}

.user-container #user_basics_form .form-unit .content textarea{
    width: 100%;
    /*height: 40px;*/
    border-radius: 4px;
    background-color: #f6f6f6;
    color: #000;
    padding: 0px 16px;
    border: 1px solid #f6f6f6;
}

.select2-container {
	margin-left: -14px
}

img.user-avatar-nav {
	width: auto;
	height: 40px;
	border-radius: 60px
}

.navbar-nav>li>a {
	padding-top: 0;
	padding-bottom: 0
}

.admin-container .admin-right .save-cancel-btn {
	/*margin-top: 330px !important*/
}

.save input {
	width: 80px;
	height: 40px;
	border-radius: 4px;
	background-image: linear-gradient(117deg, #f95d49, #ff7335) !important;
	box-shadow: 5px 10px 40px 0 rgba(249, 93, 73, .2);
	color: #fff;
	border: 1px solid #ff7335
}

.admin-container .admin-left .logout {
	margin-top: 0 !important
}

.ample-slider .carousel .carousel-inner .item .ample-signin-banner .ample-banner-right .ample-banner-button .add-library {
	width: 242px;
	float: left;
	margin-left: 190px !important;
	padding: 0 !important;
	margin-top: -40px !important
}

.ample-book-slot-slider .owl-carousel .item .ample-button a {
	width: 60px;
	height: 34px;
	border-radius: 2px;
	background-color: #54c484;
	border: 1px solid #54c484;
	color: #fff
}

.admin-home .row-two .slot-1 {
	margin-bottom: 40px !important
}

.admin-home .row-two .edit-delete {
	margin: 32px 0
}

.user-bookcreateinfo .info-left .row-six textarea {
	overflow: hidden;
	resize: none;
	height: 137px;
	background-color: #35394b;
	border: 1px solid #35394b;
	width: 100%;
	color: #ffffff;
	opacity: 0.4;
	padding: 10px
}

.user-bookcreateinfo .info-left .row-six .date {
	padding: 10px
}


.admin-container .admin-right .admin-edit .edit-two .form-unit .content textarea {
	overflow: hidden;
	resize: none;
	height: 270px
}

.admin-home .row-two .slot-3 .ebook img{width: 100% !important; height: 240px !important}

.free-ebook .book-section .content .free-book .button a {
    width: 170px;
    height: 50px;
    border-radius: 4px;
    background: linear-gradient(100deg, #f95d49, #ff7335);
    box-shadow: 5px 10px 40px 0 rgba(249,93,73,0.2);
    border: 1px solid #ff7335;
    color: #ffffff;
    float: left;
    margin: auto;
	padding: 13px 38px;
	text-decoration: none;
}

.reader-left a{color: #fff !important;}
.reader-content .right-section{width: 90% !important}

.readre-table-container .reader-left .row-two .unit{
	height: auto !important;
	margin: auto !important; 
}

.free-ebook .book-section .content .book-details .star-container{
	width: 470px !important;
}

.free-ebook .book-section .content .book-details .year{
	width: auto !important;
	padding-right: 10px !important
}

.user-bookcreateinfo .info-left .row-two .unit .first .inputChapter {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .00937em;
    text-decoration: inherit;
    text-transform: inherit;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px 12px 6px;
    -webkit-transition: opacity .18s cubic-bezier(.4, 0, .2, 1);
    -o-transition: opacity .18s cubic-bezier(.4, 0, .2, 1);
    transition: opacity .18s cubic-bezier(.4, 0, .2, 1);
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid;
    border-bottom-color: currentcolor;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}